{% import "../aun/forms.twig" as forms %}
{% import "../aun/link.twig" as link %}
## 首页当然要放UI啦

{{ link.a("/2017.3/README", "3月") }}

<div style="height: 1200px;"></div>

<div class="sixteen-nine response-image">
  <div class="sixteen-nine__content response-image__content" data-alt="nice">
    <img class="aun-image" alt="Stivaletti" data-original="//i1.piimg.com/567571/ad514d36179316aa.jpg">
  </div>
</div>

{% embed "../aun/code.twig" %}
{% block content %}
Some content for the left 
teaser box
{% endblock %}
{% endembed %}

{% embed "../aun/code.twig" %}
{% block content %}
Some content for the left teaser box{% endblock %}
{% endembed %}

<div style="height: 1200px;"></div>